name: "Build"

on:
  pull_request:

  push:
    branches: ["main"]

  workflow_dispatch:

defaults:
  run:
    shell: "bash"

permissions:
  contents: "write"

jobs:
  build:
    runs-on: "ubuntu-slim"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v6"

      - name: "Setup Golang"
        uses: "actions/setup-go@v6"
        with:
          go-version: "1.25"

      - name: "Setup goreleaser"
        uses: "goreleaser/goreleaser-action@v6"
        with:
          version: "~v2"
          install-only: true

      - name: "Check setup"
        run: |
          goreleaser check
          goreleaser healthcheck

      - name: "Build"
        run: |
          goreleaser build --clean $FLAGS
          tree dist/
        env:
          FLAGS: "${{ startsWith(github.ref, 'refs/tags/') || '--snapshot' }}"

      - name: "Tests"
        run: "make test"

      - name: "Integration Tests"
        run: "make test-integration"

      # TODO: Add attestation
      - name: "Release"
        if: "startsWith(github.ref, 'refs/tags/')"
        run: "goreleaser release --clean"

