name: "Build"

on:
  pull_request:

  push:
    branches: ["main"]
    tags: ["v*"]

  workflow_dispatch:

defaults:
  run:
    shell: "bash"

permissions:
  contents: "write"

jobs:
  build:
    runs-on: "ubuntu-slim"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v6"
        with:
          fetch-depth: 0

      - name: "Setup Golang"
        uses: "actions/setup-go@v6"
        with:
          go-version: "1.26"

      - name: "Setup BATS"
        uses: "bats-core/bats-action@4.0.0"

      - name: "Tests"
        run: "make test"

      - name: "Integration Tests"
        run: "make test-integration"

      - name: "BATS Tests"
        run: "make test-bats"

      - name: "Build"
        run: "make release-build"

      # TODO: Add attestation
      - name: "Release"
        if: "startsWith(github.ref, 'refs/tags/')"
        run: "make release-archive release-publish"
        env:
          GH_TOKEN: "${{ github.token }}"
